
/***************************************************
*				FORMATAÇÃO 							*
****************************************************/

body {
	padding:0;
}

#corpo {
	margin:0 auto;
	width:876px;
	position:relative;
}

#faixaTopo {
	width:862px;
	height:63px;
	padding:0px;
}

.imgBannerLeft {
	width:40%;
	float:left;
}

.imgBannerRight {
	width:60%;
	height:63px;
	text-align:right;
	float:left;
}

#faixaBanner {
	width:862px;
	height:150px;
	padding:0px;
	margin-bottom:2px;
}

.imgBannerInfLeft {
	width:150px;
	float:left;
}

.imgBannerInfRight {
	width:712px;
	height:150px;
	text-align:right;
	float:left;
}

#faixaStatus {
	width:856px;
	height:34px;
	padding-top:13px;
	padding-left:20px;
}

#menu {
	width:856px;
	height:35px;
	padding-top:6px;
	padding-left:20px;
	margin-bottom:5px;
}

/***************************************************
*					CONTEUDO						*
****************************************************/

#conteudo {
	width:876px;
}

#contIndex {
	min-height:400px;
}

#cont {
	min-height:400px;
	padding-left:20px;
	padding-right:30px;
}


#colunaLeft {
	float:left;
	width:282px;
	padding-left:20px;
	padding-right:4px;
}

#colunaLeft_geral {
	float:left;
	width:648px;
	padding-left:20px;
	padding-right:4px;
}

#colunaCenter {
	float:left;
	width:355px;
	padding-left:7px;
	padding-right:5px;
}

#colunaRight {
	float:left;
	width:173px;
	padding-left:8px;
	padding-right:8px;
}

.clear {
	clear:both;
}

.imgTopo {
	width:876px;
	display:block;
	height:23px;
}

.imgFim {
	width:876px;
	height:31px;
	display:block;
}

.imgTopo_sem_coluna {
	width:876px;
	display:block;
	height:23px;
}

.imgFim_sem_coluna {
	width:876px;
	height:31px;
	display:block;
}

.imgTopo_geral {
	width:876px;
	display:block;
	height:23px;
}

.imgFim_geral {
	width:876px;
	height:31px;
	display:block;
}


#rodape {
	width:849px;
	height:48px;
	margin:0 auto;
	margin-top:10px;
	line-height:43px;
	padding-left:30px;
}

.bordaFaixaLeft {
	height:36px;
}

.bordaFaixaLeft span {
	height:36px;
	display:block;
	margin-left:12px;
	padding-right:12px;
	text-align:center;
	padding-top:6px;
}

.login {
	padding-bottom:24px;
    max-width:175px;
	overflow: hidden;
}

.nota_destaque_Alert {
	width:98%;
	padding-bottom:5px;
}

#cont_aba {
	padding-bottom:10px;
}

.nota_informa {
	width:80%;
	min-height:40px;
}

.nota_informa span {
	padding:35px 5px 10px 35px;
	display:block;
}

.listaAnimal {
	width:95%;
	height:120px;
}

.listaAnimal span {
	display:block;
	width:154px;
	height:125px;
	float:left;
	margin-right:10px;
	background:url("../gato/images/miniaturas/bg_foto.png") no-repeat top left;
}

.listaAnimal span img {
	padding-top:6px;
	padding-left:7px;
    width:130px;
    height:112px;
}

.listaAnimal img {
	padding-top:6px;
	padding-left:7px;
}

.descricao img {
	text-align:left;
	float:left;
	padding-right:4px;
	padding-bottom:2px;
}