/* CSS Document */

/*- Menu Tabs B--------------------------- */

    .tabsB {
      float:left;
      width:100%;
      background: url("/images/bg_menu_super.png");
      font-size:93%;
      line-height:normal;
      }
    .tabsB ul {
	margin:0;
	padding:0px 10px 0 10px;
	list-style:none;
      }
    .tabsB li {
      display:inline;
      margin-left:0;
      padding:0;
      }
    .tabsB a {
      float:left;
      background:url("/images/tableftB.gif") no-repeat left top;
	  margin-left:5px;
      padding:0 0 0 4px;
      text-decoration:none;
	  font-weight:bold;
	  color:#646464;
      }
    .tabsB a span {
      float:left;
      display:block;
      background:url("/images/tabrightB_largo.png") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#646464;
	  font-weight:bold;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    .tabsB a span {float:none;}
    /* End IE5-Mac hack */
    .tabsB a:hover span {
      color:#646464;
      }
    .tabsB a:hover {
      background:url("/images/tableftB.png") no-repeat left top !important;
      }
    .tabsB a:hover span {
		background:url("/images/tabrightB.png")  no-repeat right top !important;
      }
	
	.tabsB #ativo a {
		background:url("/images/tableftB_current.png") no-repeat left top !important;
	}
	.tabsB #ativo a span {
		background:url("/images/tabrightB_current.png") no-repeat right top !important;
	}
	.tabsB .ativo a {
		background:url("/images/tableftB_current.png") no-repeat left top !important;
	}
	.tabsB .ativo a span {
		background:url("/images/tabrightB_current.png") no-repeat right top !important;
	}