<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>FilterPainelControle</filter-name>
        <filter-class>Controle.Portal.FilterPainelControle</filter-class>
    </filter>
    <filter><filter-name>FilterCadastroAnimal</filter-name><filter-class>Controle.Portal.FilterCadastroAnimal</filter-class></filter>
    <filter-mapping>
        <filter-name>FilterCadastroAnimal</filter-name>
        <url-pattern>/cadastro/cad_animal.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterPainelControle</filter-name>
        <url-pattern>/Painel_controle/Usuario/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>ServletColaborador</servlet-name>
        <servlet-class>Controle.Portal.ServletColaborador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPainelControle</servlet-name>
        <servlet-class>Controle.Portal.ServletPainelControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAnimais</servlet-name>
        <servlet-class>Controle.Portal.ServletAnimais</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogoff</servlet-name>
        <servlet-class>Controle.Portal.ServletLogoff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaAnimal</servlet-name>
        <servlet-class>Controle.Portal.ServletListaAnimal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNotificacao</servlet-name>
        <servlet-class>Controle.Portal.ServletNotificacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmail</servlet-name>
        <servlet-class>Controle.Portal.ServletEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAtivacao</servlet-name>
        <servlet-class>Controle.Portal.ServletAtivacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProcesso</servlet-name>
        <servlet-class>Controle.Portal.ServletProcesso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNotificacaoProcesso</servlet-name>
        <servlet-class>Controle.Portal.ServletNotificacaoProcesso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletColaborador</servlet-name>
        <url-pattern>/NavUsr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPainelControle</servlet-name>
        <url-pattern>/PainelControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAnimais</servlet-name>
        <url-pattern>/GerAnimal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogoff</servlet-name>
        <url-pattern>/logoff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaAnimal</servlet-name>
        <url-pattern>/listaAnimal</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ControleFormaEnvioServlet</servlet-name>
        <servlet-class>Controle.Painel.ControleFormaEnvioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleRacaServlet</servlet-name>
        <servlet-class>Controle.Painel.ControleRacaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlePelagemServlet</servlet-name>
        <servlet-class>Controle.Painel.ControlePelagemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlePorteServlet</servlet-name>
        <servlet-class>Controle.Painel.ControlePorteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleFuncionarioServlet</servlet-name>
        <servlet-class>Controle.Painel.ControleFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleColaboradorServlet</servlet-name>
        <servlet-class>Controle.Painel.ControleColaboradorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleAnimaisServlet</servlet-name>
        <servlet-class>Controle.Painel.ControleAnimaisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleCorServlet</servlet-name>
        <servlet-class>Controle.Painel.ControleCorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleUFServlet</servlet-name>
        <servlet-class>Controle.Painel.ControleUFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleLoginServlet</servlet-name>
        <servlet-class>Controle.Painel.ControleLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleFormaEnvioServlet</servlet-name>
        <url-pattern>/ControleFormaEnvioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleRacaServlet</servlet-name>
        <url-pattern>/ControleRacaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlePelagemServlet</servlet-name>
        <url-pattern>/ControlePelagemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlePorteServlet</servlet-name>
        <url-pattern>/ControlePorteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleFuncionarioServlet</servlet-name>
        <url-pattern>/ControleFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleColaboradorServlet</servlet-name>
        <url-pattern>/ControleColaboradorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAnimaisServlet</servlet-name>
        <url-pattern>/ControleAnimaisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleCorServlet</servlet-name>
        <url-pattern>/ControleCorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleUFServlet</servlet-name>
        <url-pattern>/ControleUFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleLoginServlet</servlet-name>
        <url-pattern>/ControleLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNotificacao</servlet-name>
        <url-pattern>/Mensagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmail</servlet-name>
        <url-pattern>/Email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAtivacao</servlet-name>
        <url-pattern>/Ativacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProcesso</servlet-name>
        <url-pattern>/gerProcesso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNotificacaoProcesso</servlet-name>
        <url-pattern>/NotificarProcesso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>admin.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
